[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.2"
djangorestframework = "==3.10"
pillow = "==6.2.1"
django-crispy-forms = "==1.7.2"
python-dotenv = "*"
mysqlclient = "*"

[requires]
python_version = "3.7"
