
{% load crispy_forms_tags %}
{% load static %}
  {{ message }}
    <section id="gallery" class="tm-section-pad-top">
      <div class="container tm-container-gallery">
        <div class="row">
          <div class="text-center col-12">
              <h2 class="tm-text-primary tm-section-title mb-4">Gallery</h2>
              <p class="mx-auto tm-section-desc">
                All the events and exhibitons programmes photos are memories. They should be cherished.
              </p>
          </div>            
        </div>
        <div class="row">
            <div class="col-12">
                <div class="mx-auto tm-gallery-container">
                    <div class="grid tm-gallery">
                        
                        {% for gallery in galleries|slice:":7" %}
                            <a href="{{gallery.image.url}}">
                                <figure class="effect-honey tm-gallery-item">
                                <img src="{{gallery.image.url}}" alt="Image" class="img-fluid">
                                <figcaption>
                                    <h2><i>{{gallery.title}} </i></h2>
                                </figcaption>
                                </figure>
                            </a>
                        {% endfor %}
                    </div>
                </div>                
            </div>        
          </div>
      </div>
    </section>