
    <section id="whatwedo" class="tm-section-pad-top">
      
      <div class="container">

            <div class="row tm-content-box"><!-- first row -->
                <div class="col-lg-12 col-xl-12">
                    <div class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-4 tm-section-title">What We Do</h2>
                        <p class="mb-4 tm-intro-text">
                          We are a group of Engineers and Electronics and Robotics ethusiasts focusing on providing robotics and automation training. We are aimimg to democratize Robotics and Automation projects so that every one has the basic skill required to start project on their own.</p>
                    </div>
                </div>

            </div><!-- first row -->
            
            <div class="row tm-content-box"><!-- second row -->
        		<div class="col-lg-1">
                    <i class="fab fa-3x fa-product-hunt text-center tm-icon"></i>
                </div>
                <div class="col-lg-5">
                    <div class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-4">Marketing Products</h2>
                        <p class="mb-4 tm-intro-text">
                          We provide various kind of products such as automatic water pump, PIR lights and many more. We also provide warrenty for the products.</p>
                    </div>
                </div>
                
                <div class="col-lg-1">
                    <i class="far fa-3x fa-comment-alt text-center tm-icon"></i>
                </div>
                <div class="col-lg-5">
                    <div class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-4">Fast Support</h2>
                        <p class="mb-4 tm-intro-text">
                          We provide support for the products that we sell and provide warrenty.</p>
                    </div>
                </div>

            </div><!-- second row -->
            
            <div class="row tm-content-box"><!-- third row -->
        		<div class="col-lg-1">
                    <i class="fas fa-3x fa-robot text-center tm-icon"></i>
                </div>
                <div class="col-lg-5">
                    <div class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-4">Robotics and Automation Training</h2>
                        <p class="mb-4 tm-intro-text">
                      <p> We provide a complete robotics and automation training. Training can be based on packages or It can continue throughout the year. As soon as a session is complete, we are responsible for management of the robotics exhibition. We teach Higher secondary as well as Secondary level students.</p>
                          
                          <div class="tm-continue">
                            <a href="#testimonials" class="tm-intro-text tm-btn-primary">Learn More</a>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-1">
                    <i class="fas fa-3x fa-laptop-code text-center tm-icon"></i>
                </div>
                <div class="col-lg-5">
                    <div class="tm-intro-text-container">
                      <h2 class="tm-text-primary mb-4">Software Training</h2>
                        <p class="mb-4 tm-intro-text">
                      We are responsible for providing software training to the participants. We teaxh students programming languages like python, c++ etc. We are also responsible for teaching about software version control and management tools like github, jira, trello etc.</p>
                          
                          <div class="tm-continue">
                            <a href="#testimonials" class="tm-intro-text tm-btn-primary">Details</a>
                        </div>
                    </div>
                </div>

            </div><!-- third row -->

        </div>
      
    </section>