
{% extends 'base.html' %}
{% load crispy_forms_tags %}  

{% block navbar %}
<nav class="navbar navbar-expand-md tm-navbar">              
<div class="container">   
    <div class="tm-next">
        <a href="{% url 'home' %}" class="navbar-brand">Futani Technology Pvt. Ltd.</a>
    </div>             
</div>
</nav>
{% endblock navbar %}

{% block home_text %}      


    <div class="text-center tm-hero-text-container">
    <div class="row tm-hero-text-container-inner">
        <div class="col-sm-1 col-md-2">
            
        </div>


        <div class="col-sm-10 col-md-8"><br><br><br><br>
            <h1> Save to Gallery </h1>
            <br>
            <form method="post"  enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-info btn-block" type="submit">Save</button>
            </form>
        </div>
    </div>        
    </div>
    
{% endblock home_text %}
  