
{% extends 'base.html' %}
{% load crispy_forms_tags %}  

{% block navbar %}
<nav class="navbar navbar-expand-md tm-navbar">              
<div class="container">   
    <div class="tm-next">
        <a href="{% url 'home' %}" class="navbar-brand">Futani Technology Pvt. Ltd.</a>
    </div>             
</div>
</nav>
{% endblock navbar %}

{% block home_text %}      


    <div class="text-center tm-hero-text-container">
    <div class="row tm-hero-text-container-inner">
        <div class="col-sm-2 col-md-3">
            
        </div>


        <div class="col-sm-8 col-md-6"><br><br><br><br><br>
            <form method="post"  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group  col-sm-6 col-md-6 mb-0">
                        {{ form.name|as_crispy_field }}
                    </div>
                    <div class="form-group  col-sm-6 col-md-6 mb-0">
                        {{ form.title_or_position|as_crispy_field }}
                    </div>
                </div>
                {{form.company_name|as_crispy_field}}
                {{form.image|as_crispy_field}}
                {{form.feedback_message|as_crispy_field}}
                <button class="btn btn-info btn-block" type="submit">Send Feedback</button>
            </form>
        </div>
    </div>        
    </div>
    
{% endblock home_text %}
  